SUPABASE_PROJECT_ID=pidrruwjgbqqvgrujylk
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=https://pidrruwjgbqqvgrujylk.supabase.co
VITE_SUPABASE_PROJECT_ID=pidrruwjgbqqvgrujylk
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=https://pidrruwjgbqqvgrujylk.supabase.co